.about-us-intro-box {
	height: 100%;
	width: 90%;
	left: 40%;
	background: #ED6374;
}

.about-us-intro-box > p {
	font-family: Raleway;
	font-size: 5em;
	color: white;
}

#about-us-underline{
	background: white;
	height: 10px;
	width: 80px;
	padding-left: 50px;
}

#about-us-desc {
	font-size: 2em;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

#about-us-gap {
	padding-top: 100px;
	padding-bottom: 100px;
}

#empty-line {
	padding-top: 30px;
}

.team-description {
	text-align: center;
	font-size: 4em;
	color: #00559E;
	
	padding-top: 30px;
	padding-bottom: 30px;
}

.team-title{
	font-family: Raleway;
	font-size: 4.5em;
	color: #00559E;
}

#team-img{
	position: relative;
	vertical-align: top;
    width:  280px;
    height: 280px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
	
	text-align: center;
}

#partner-caption {
	display: block;
	color: #00559E;
	
	font-family: Cormorant Garamond;
	font-size: 1.5em;
}

#advisor-caption {
	display: block;
	color: #00559E;
	
	font-family: Cormorant Garamond;
	font-size: 1.5em;
}

#sponsor-img{
	position: relative;
	vertical-align: top;
    width:  300px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
	
	text-align: center;
}

.join-eia-box {
	height: 100%;
	width: 90%;
	left: 40%;
	background: #F7C26C;
}

.join-eia-box > p {
	font-family: Raleway;
	font-size: 4em;
	color: white;
	
	text-align: center;
	padding-top: 50px;
}

#join-eia-newsletter {
	font-family: Raleway;
	font-size: 1.5em;
	color: white;
	
	text-align: center;
	padding-top: 20px;
}

.button {
	background-color: #FFFFFF;
    border: none;
	font-family: serif;
    color: #F7C26C;
    
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin: auto;
    cursor: pointer;
	
}

.sponsor-eia-box {
	height: 100%;
	width: 90%;
	left: 40%;
	background: #6BA5E9;
}

.sponsor-eia-box > p {
	font-family: Raleway;
	font-size: 4em;
	color: white;
	
	text-align: center;
	padding-top: 50px;
}

#sponsor-eia-newsletter {
	font-family: Raleway;
	font-size: 1.5em;
	color: white;
	
	text-align: center;
	padding-top: 20px;
}
