.about-us-intro-box {
	background: #ED6374;
	padding: 75px;
    margin-bottom: 40px;
}

.about-us-intro-box > p {
	font-family: 'Cormorant Garamond', serif;
    font-size: 5em;
    color: white;
    font-weight: 500;
    line-height: 1;
}

#about-us-underline{
	background: white;
	height: 10px;
	width: 80px;
}

#about-us-desc {
	font-size: 2em;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 0 !important;
}

#about-us-gap {
	padding-bottom: 100px;
}

#empty-line {
	padding-top: 100px;
}

.team-description {
	text-align: center;
	font-size: 3.5em;
	font-family: 'Cormorant Garamond', serif;
	color: #00559E;
	font-weight: 500;
	
	padding-top: 30px;
	padding-bottom: 30px;
}

.team-title{
	font-family: 'Raleway', serif;
	font-size: 3.5em;
	color: #00559E;
	font-weight: 500;
}

#team-img{
	position: relative;
	vertical-align: top;
    width:  240px;
    height: 240px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
	
	text-align: center;
}

.partner {
	padding-left: 0 !important;
}

.partner-section {
	padding-top: 25px;
	padding-bottom: 50px;
}

#partner-caption {
	display: block;
	color: #00559E;
	
	font-family: 'Raleway', serif;
	font-size: 1.5em;
}

.advisors {
	padding-left: 0 !important;
}

.advisor-section {
	padding-top: 25px;
	padding-bottom: 50px;
}

#advisor-caption {
	display: block;
	color: #00559E;
	
	font-family: 'Raleway', serif;
	font-size: 1.5em;
}

.sponsors {
	padding: 0;
}

.sponsor-section {
	padding-top: 25px;
	padding-bottom: 50px;
	margin-bottom: 50px;
}

#sponsor-img{
	position: relative;
	vertical-align: top;
    width:  200px;
    height: auto;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
	
	text-align: center;
}

.join-eia-box {
	height: 100%;
	background: #F3D769;
	padding: 50px;
	margin-bottom: 50px;
}

.join-eia-box > p {
	font-family: 'Raleway', serif;
	font-size: 3em;
	color: white;
	text-align: center;
	padding: 50px 50px 20px 50px;
}

#join-eia-newsletter {
	font-family: 'Raleway', serif;
	font-size: 1em;
	color: white;
	
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
}

.button {
	background-color: #FFFFFF;
    border: none;
    font-family: 'Raleway', serif;
    color: #F3D769;
	
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 10px;
}

.join-eia-box .button a {
	color: #F3D769;
}

.button a:hover {
	text-decoration: none;
}

.sponsor-eia-box > p {
	font-family: 'Raleway', serif;
	font-size: 3em;
	color: white;
	text-align: center;
	padding: 50px 50px 20px 50px;
}

.sponsor-eia-box {
	height: 100%;
	background: #6BA5E9;
	padding: 20px;
	margin-bottom: 50px;
}

.sponsor-eia-box button {
	color: #6BA5E9;
}

#sponsor-eia-newsletter {
	font-family: Raleway;
	font-size: 1.5em;
	color: white;
	
	text-align: center;
	padding-top: 20px;
}
