.companies-intro-box {
	background: #6C5FB8;
	padding: 75px;
    margin-bottom: 40px;
}

.companies-intro-box > p {
	font-family: 'Cormorant Garamond', serif;
    font-size: 5em;
    color: white;
    font-weight: 500;
    line-height: 1;
}

#companies-underline{
	background: white;
	height: 10px;
	width: 80px;
	padding-left: 50px;
}

#companies-desc {
	font-size: 2em;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

#companies-gap {
	padding-top: 100px;
	padding-bottom: 100px;
}


.company-num-title {
	font-family: "Raleway", sans-serif;
	font-size: 4em;
	color: #00559E;
	padding-bottom: 2em;
}

.company-desc {
	font-family: "Cormorant Garamond", sans-serif;
	color: #6BA5E9;
	padding-left: 2em;
}

.companies-number-box {
	height: 100%;
	width: 45%;
	text-align: center;
	background: #00559E;
	
	font-family: "Raleway", sans-serif;
	font-size: 3em;
	font-weight: 200;
	color: white;
}

.total-funds-box {
	height: 100%;
	width: 45%;
	text-align: center;
	background: white;
	
	font-family: "Raleway", sans-serif;
	font-size: 3em;
	color: #00559E;
	padding-left: 50px;
}


#companies-small-font {
	text-align: center;

	font-family: "Raleway", sans-serif;
	color: white;
	font-size: 20%;
}

#funds-small-font {
	text-align: center;
	color: #00559E;
	
	font-family: "Raleway", sans-serif;
	font-size: 20%;
	padding-left: 2em;
}

.innovention-companies {
	font-family: Raleway;
	font-size: 4em;
	color: #00559E;
	padding-bottom: 2em;
}

.innovention-company-desc {
	font-family: Cormorant Garamond;
	font-size:30%;
	color: #6BA5E9;
	padding-left: 2em;
}

#empty-line {
	padding-top: 30px;
}

#edenworks-logo {
	padding-top: 1.5em;
	height: 100px;
	width: auto;
}

.sparkstart-companies {
	font-family: Raleway;
	font-size: 4em;
	color: #00559E;
	padding-bottom: 2em;
}

.sparkstart-company-desc {
	font-family: Cormorant Garamond;
	font-size: 50%;
	color: #6BA5E9;
}

.partner-companies {
	font-family: Raleway;
	font-size: 4em;
	color: #00559E;
	padding-bottom: 2em;
}

.partner-company-desc {
	font-family: Cormorant Garamond;
	font-size: 50%;
	color: #6BA5E9;
}

