.intro-box {
	background: #6C5FB8;
	margin-bottom: 40px;
}

.intro-box h1 {
	padding-bottom: 20px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #00559E;
    font-size: 3em;
    padding-bottom: 20px;
}

.numberBoxComp {
	height: 320px;
	text-align: center;
	background-color: #00559E;
	margin-bottom: 50px;
}

#numBoxText {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 10em;
	color: white;
	height: 50%;
	margin-top: 30px;
}

#numBoxSm {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	color: white;
}

.numberBoxFunds {
	height: 320px;
	text-align: center;
	background-color: white;
}

#numBoxTextFunds {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 9em;
	color: #00559E;
	height: 50%;
	margin-top: 30px;
}

#numBoxSmFunds {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	color: #00559E;
}

#edenWorks {
	width: 80%;
	margin-bottom: 15px;
}

#physiclo {
	width: 80%;
}

.content-p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    color: #00559E;
}

.content-a {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    color: #6BA5E9;
}

.sparkStart {
	margin-top: 30px;
}

.sparkStartDes {
	margin-bottom: 30px;
}

#fitAI {
	width: 60%;
	margin-bottom: 15px;
}

.end {
	margin-bottom: 50px;
}

.sparkstart-companies {
	font-family: Raleway;
	font-size: 4em;
	color: #00559E;
	padding-bottom: 2em;
}

.sparkstart-company-desc {
	font-family: Cormorant Garamond;
	font-size: 50%;
	color: #6BA5E9;
}

.partner-companies {
	font-family: Raleway;
	font-size: 4em;
	color: #00559E;
	padding-bottom: 2em;
}

.partner-company-desc {
	font-family: Cormorant Garamond;
	font-size: 50%;
	color: #6BA5E9;
}

