.intro-box {
    background: #00559E;
}

.intro-box h1 {
    padding-bottom: 13px;
}

.button {
    color: #00559E;
}

#innovention-gap {
    padding-top: 60px;
    padding-bottom: 60px;
}

.sub-nav {
    text-align: center;
    margin: 30px 0px 20px 0px;
}

.sub-nav p a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #00559E;
    font-size: 1.25em;
}

.sub-nav p a:hover {
    text-decoration: none;
    border-bottom: solid 3px #00559E;
    padding-bottom: 4px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #00559E;
    font-size: 3em;
    padding-bottom: 15px;
    padding-top: 30px;
}

.inno-desc {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #00559E;
    font-size: 1.5em;
    padding-bottom: 15px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    color: #00559E;
}

.events {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    color: #00559E;
    padding-left: 3em;
    padding-top: 5px;
}

.content-p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    color: #00559E;
}

.content-a {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    color: #6BA5E9;
}

#edenworks-logo {
    height: 170px;
    width: auto;
    margin-bottom: 15px;
}

#physiclo-logo {
    height: 170px;
    width: auto;
    margin-bottom: 15px;
}

.pastWinners {
    padding-bottom: 15px;
}

#Microsoft {
    padding: 0em 0.5em 0.7em 0.5em;
    height: 100px;
    width: auto;
}

#Squarespace {
    padding: 1.5em;
    height: 100px;
    width: auto;
    margin-bottom: 15px;
}

#innoApplyEnd {
    margin-bottom: 120px;
}