.container-fluid {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 80px;
	padding-right: 70px;
}

.custom-navbar {
	background-color: white;
	border-radius: 0;
	border: 0;
}

.navbar-text-color > li > a {
	color: blue !important;
	font-size: 1.5em;
	padding-top: 50px;
}

#eia-logo{
	height: 100px;
	width: auto;
}




.intro-box {
	height: 100%;
	width: 90%;
	left: 40%;
	background: #92D0B9;
}

.intro-box > p {
	font-family: serif;
	font-size: 5em;
	color: white;
}

#underline{
	background: white;
	height: 10px;
	width: 80px;
	padding-left: 50px;
}

#desc {
	font-size: 3em;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

.button {
	background-color: #FFFFFF;
    border: none;
	font-family: serif;
    color: #92D0B9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	
}

#gap {
	padding-top: 60px;
	padding-bottom: 60px;
}


.spark-start {
	height: 100%;
	width: 45%;
	border-style: solid;
	border-color: blue;
	border-width: 12px;
	padding-top: 20px;
}

#spark-start-Title {
	font-size: 4em;
	font-family: Serif;
	color: #0055DD;
	padding-left: 20px;
}

#spark-start-Underline {
	background: #0055DD;
	height: 5px;
	width: 40px;
	padding-left: 20px;
}

#spark-start-Desc {
	font-size: 2em;
	font-family: Serif;
	color: #0055DD;
	padding-bottom: 20px;
	padding-left: 20px;
}


.innoVention {
	height: 100%;
	width: 46%;
	border-style: solid;
	border-color: blue;
	border-width: 12px;
	padding-top: 20px;
}

#innoVention-Title {
	font-size: 4em;
	font-family: Serif;
	color: #0055DD; 
	padding-left: 20px;
}

#innoVention-Underline {
	background: #0055DD;
	height: 5px;
	width: 40px;
	padding-left: 20px;
}

#innoVention-Desc {
	font-size: 2em;
	font-family: Serif;
	color: #0055DD;
	padding-bottom: 20px;
	padding-left: 20px;
}



.network {
	height: 100%;
	width: 50%
	padding-top: 20px;
}

#network-title {
	font-size: 4em;
	font-family: Serif;
	color: blue;
}

#network-desc {
	font-size: 2em;
	font-family: Serif;
	height: 100%;
	width: 100%;
	color: #0055DD;
	padding-bottom: 20px;
	padding-left: 100px;
	display: block;
}

.email-form {
	height: 100%;
	width: 50%;
}




.footer {
	height: 100%;
	width: 90%;
	left: 40%;
	background: #92D0B9;
}

.copyrite {
	font-size: 1em;
	color: white;
}

.footer-left-links {
	font-size: 1.5em;
	color: white;
}

#footer-title {
	font-size: 2em;
	font-family: 'Cormorant Garamond', serif;
	color: white;
}

#footer-body {
	font-size: 1.5em;
	font-family: 'Cormorant Garamond', serif;
	color: white;
	float: left;

}


